#! Ignore
test.py
debug/*
cache/*
.env.development
.env.production
.env.testing
.testdata
__pycache__
infinite-v2-aiml.code-workspace
_auto_git_summary.bat
reports/*

#! Don't ignore
!debug/Readme.md
!cache/Readme.md
